export MODE='local'

# API
export HOST='localhost'
export PORT='5000'
export CORS_WHITELIST='http://localhost:3000;http://localhost:5000'

# DATABASE
export DATABASE_USER='root'
export DATABASE_PASSWORD='azER123'
export DATABASE_PORT='5432'
export DATABASE_NAME='database'
export DATABASE_URL='postgresql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?schema=public'
