export MODE="local"

# API
export HOST="localhost"
export PORT="5000"
export CORS_WHITELIST="http://localhost:3000;http://localhost:5000"

# DATABASE
export DATABASE_USER="root"
export DATABASE_PASSWORD="root"
export DATABASE_PORT="5432"
export DATABASE_NAME="database"
export DATABASE_HOST="localhost"
export DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?schema=public"

export POSTGRES_DB=$DATABASE_NAME
export POSTGRES_USER=$DATABASE_USER
export POSTGRES_PASSWORD=$DATABASE_PASSWORD
