# THIS FILE IS AN EXAMPLE, DO NOT MAKE YOURS PUBLIC
export MODE="local"

# API
export APP_ID="BACKEND_1"
export HOST="localhost"
export PORT="5000"
export CORS_WHITELIST="http://localhost:3000;http://localhost:5000"

#SESSION
export STORE_HOST="eu1-wanted-silkworm-30358.lambda.store"
export STORE_PORT="30358"
export STORE_PASSWORD="073c38a57dbb43bf90b7c125589ec396"
export SESSION_SECRET="MysUperSEcReT_1234!"

# DATABASE
export DATABASE_USER="root"
export DATABASE_PASSWORD="root"
export DATABASE_PORT="5432"
export DATABASE_NAME="database"
export DATABASE_HOST="localhost"
export DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?schema=public"

export POSTGRES_DB=$DATABASE_NAME
export POSTGRES_USER=$DATABASE_USER
export POSTGRES_PASSWORD=$DATABASE_PASSWORD
